<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    {{ stylesheet|safe }}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>{{title}}</title>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-container fluid style="max-width: 80%">
          <v-col>
            <v-row class="justify-center">
              <chapter
                v-for="chapter in chapters"
                :chapter_num="chapter"
              ></chapter>
          </v-row>
          </v-col>
        </v-container>
      </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      Vue.component('chapter', {
        props: ['chapter_num'],
        delimiters: ['[[', ']]'],
        template: `
        <v-card
          elevation="3"
          width=300
          class="rounded-lg"
          style="margin: 3px; background-color: #444"
          ripple
        >
          <a :href="chapter_num + '/gallery.html'" class="text-decoration-none">
            <img :src="chapter_num + '/thumb.png'" contain class="rounded-t-lg">
            <v-card-subtitle class="text-md-body-1 light-green--text text--accent-3">[[ chapter_num ]]</v-card-subtitle>
          </a>
        </v-card>
        `
      })
      var app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        vuetify: new Vuetify({
          theme: {
            themes: {
              light: {
                primary: '#ce93d8',
                //secondary: '#80cbc4',
              },
              dark: {
                primary: '#2c9cd2',
                //secondary: '#cc4100',
              }
            }
          }
        }),
        methods: {
          toggleTheme: function() {
            localStorage.setItem('darkTheme', this.$vuetify.theme.dark)
          },
        },
        mounted() {
          if(localStorage.getItem('darkTheme')) {
            this.$vuetify.theme.dark = JSON.parse(localStorage.getItem('darkTheme'))
          }
          else {
            this.$vuetify.theme.dark = true
            localStorage.setItem('darkTheme', this.$vuetify.theme.dark)
          }
        },
        data: {
          dark: true,
          title: "{{ title }}",
          chapters: {{ chapter_data|safe }},
        },
      })
    </script>
  </body>
</html>